body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.cabecalho-logo {
    width: 80px;
    margin-bottom: 10px;
}

main {
    padding: 20px;
}

.info {
    margin-bottom: 20px;
}

.info h2 {
    color: #333;
    margin: 0 0 10px 0;
}

.info p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0 0 10px 0;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}

